@model IEnumerable<Skolinlämning.Models.RaceInfo.Race>
@{
}


<div class="container mt-5">
    <h2 class="text-center">Race Details</h2>

    @if (Model != null && Model.Any())
    {
        foreach (var race in Model)
        {
            <div class="card bg-dark mb-2" style="width: 100%; min-height: 1rem; padding: 1rem; border: 3px solid #d9534f;">
                <div class="card-body">
                    <h5 style="text-decoration: underline #d9534f " class="card-title text-light">Circuit: @race.Circuit.CircuitName</h5>
                    <p class="card-text text-light">Circuit ID: @race.Circuit.CircuitId</p>
                    <p class="card-text text-light">Location: @race.Circuit.Location.Locality, @race.Circuit.Location.Country</p>
                    <p class="card-text text-light">Race Date: @race.Date</p>
                    <p class="card-text text-light">Race Time: @race.Time</p>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row justify-content-center mt-5">
            <div class="col-md-4">
                <p>No race details found.</p>
            </div>
        </div>
    }
</div>
